@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  top: 0;
  left: 0;
  height: 40px;
  font-family: "Playfair Display", serif;
}
.logo {
  width: 130px;
  height: 60px;
  margin-left: 10px;
  margin-top: 3px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  padding-top: 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#0928af;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:'';
    width:60%;
    height:2px;
    background:#0928af;
    position:absolute;
    bottom:-2px;
    left:20px;
}
#head {
  display: flex;
  flex-direction: column;
  padding: 2px 150px;
  height: 280px;
}

#head::before {
  content: "";
  background: url("bghead.jpg") no-repeat center center/cover;
  position: absolute;
  height: 300px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
#head .head1 {
  padding: 80px;
}
#head h2 {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.h-primary {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Bree Serif", serif;
}

ul {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 1.25em;
}
.container{
  border-radius: 6px;
background:linear-gradient(#8693AB,#BDD4E7);
padding: 10px 60px 30px 40px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
 margin-left: 30px;
margin-right: 30px;
margin-bottom: 30px;
margin-top: -20px;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color:  #5A5A5A;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.footer {
  overflow: hidden;
  position: relative;
  bottom: 0;
  background-color: #d1e4f0;
  width:100%;
}

.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.footer a:hover {
  background: #f1f1f1;
  color: black;
}

.footer a.active {
  background-color: #301934;
  color: white;
}
.footer p {
    text-align: center;
    padding:15px;
}